<div class="app-page introduction bracteosa" data-page="introduction">
  {{> components/top-bar logo=true menu=true}}

  <div class="app-content grid">

    <div class="content-wrapper col-10-12 offset-1 " data-component="survey">

      <h2 class="medium-large weight-medium module title">Welcome!</h2>
      {% include progress_bar.html %}

      <div class="small-large question-set-container opening">

        <p class="overview weight-book">
          In this example quiz the decision tree will conditionally route you though a graph of questions based on your selections.
        </p>
        <p class="overview weight-book">
          The interface is built with Backbone.js as an example of how to use the Question Graph - any js framework will work well.
        </p>

        <div class="app-section">
          <div id="cta_next" class="call-to-action app-button col-4-12 offset-4">Continue</div>
        </div>
      </div>
    </div>

  </div>

</div>
