$gold: #F5AC28;
$salmon: #F9695C;
$berry: #9F2553;

$offWhite: #FAFAFA;
$lightGray: #F6F4F4;
$mediumGray: #d9d8d7;
$gray: #9E9D9D;
$mediumDarkGray: #5B5655;
$darkGray: #403B39;
$charcoal: #141414;

$darkPurple: #2b0b7d;
$purple: #2F166D;
$lightPurple: #552DB9;
$brightPurple: #7A4FE5;
$lavender: #C1B9D6;
$magnolia: #F8F6FF;

$lightGrayBlue:#9a9cb9;
$grayBlue:#464870;
$lightBlue: #4698fa;
$blue:#157EFB;
$inkyBlue:#22244A;
$midniteBlue:#0b0634;

$orange: #ED8B2A;
$green: #81D135;
$yellow: #F5AD29;
$red: #CE0B24;

$green: #47BA21;
