
{{#SCREEN}}
  <div class="small-large lifestyle-choice {{id}} grapevine" id="lifestyleChoice" data-question-set="{{id}}">

    {{#compare type 'radio' operator="=="}}
    <radiogroup class="control-group">
    {{/compare}}
    {{#compare type 'checkbox' operator="=="}}
    <section class="app-section control-group">
    {{/compare}}

      <p class="directions">{{title}}</p>

      {{#if media}}
        <div class="question-media-container">
        {{#each media}}
          {{#compare type 'image' operator="=="}}
            <img class="question-image" src="{{src}}">
          {{/compare}}
        {{/each}}
        </div>
      {{/if}}

      {{#each labels}}
      <label class="medium choice control control--{{../type}}{{#if subtype}} {{subtype}}{{/if}}{{#if level}} {{level}}{{/if}}"><span class="question-copy">{{title}}</span>
			  <input type="{{../type}}" {{#if value}}value="{{value}}"{{/if}} name="{{../id}}" id="qid_{{qid}}" data-unique="{{unique}}" {{#compare answerValue 'T' operator="=="}}checked {{/compare}}class="controlled__{{../type}}">
		    <div class="control__indicator{{#if level}} {{level}}{{/if}}"></div>
			</label>
      {{/each}}

      {{#compare type 'textarea' operator="=="}}
      <textarea class="medium weight-book" name="{{../id}}" id="qid_{{qid}}" rows="10" cols="30" placeholder="Your answer here...">{{#if answerValue}}{{answerValue}}{{/if}}</textarea>
      {{/compare}}

    {{#compare type 'radio' operator="=="}}
    </radiogroup>
    {{/compare}}
    {{#compare type 'checkbox' operator="=="}}
    </section>
    {{/compare}}

    <div class="app-section navigation-controls">

      {{#if last}}
      <div id="cta_finish" class="call-to-action {{#unless previouslyAnswered}}disabled {{/unless}}app-button col-4-12 offset-4">Next</div>
      {{else}}
      <div id="cta_next" class="call-to-action {{#unless previouslyAnswered}}disabled {{/unless}}app-button col-4-12 offset-4">Next</div>
      {{/if}}

      {{#unless first}}
      <div id="cta_prev" class="clear app-button back arrow-back shape col-4-12 offset-4">Back</div>
      {{/unless}}
    </div>

  </div>
{{/SCREEN}}
