{{#SCREEN}}
<div id="lifestyleChoice" class="lifestyle-choice {{id}} grapevine">

  <p class="weight-book small-large overview">
    Thank you and welcome to HOPE! Your responses will help your Cricket Team personalize your experience.
  </p>

  <h4>Explore on your own time.</h4>
  <p class="weight-book small-large overview">
    Browse through easy to understand videos and frequently asked questions answered by healthcare experts and patients. Each section will help you learn what each treatment option is like.
  </p>

  <h4>Talk about your options.</h4>
  <p class="weight-book small-large overview">
    Chat online with your Cricket Health nurse practitioner, people who do dialysis or have had a transplant, and people like you who are exploring their options.
  </p>

  <h4>Connect With Peers.</h4>
  <p class="weight-book small-large overview">
    HOPE directly connects you with a community of peers who are both currently choosing a CKD therapy, been on dialysis or have been transplanted.
  </p>

  <div class="app-section navigation-controls">
    <a id="cta_finish" class="call-to-action app-button col-4-12 offset-4" href="#{{nextScreen}}">Let's Go</a>
    <div id="cta_prev" class="clear app-button back arrow-back shape col-4-12 offset-4">Back</div>
  </div>

</div>
{{/SCREEN}}
